.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 5fr;
}

.header-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 1fr 2fr;
    grid-column: 2 /3;
}

.side-bar-container {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.search-bar-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.header-id-container {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr;
}